In [73]:
from glob import glob
import pandas as pd

## Read Files

In [74]:
files = glob('../Data/2020/*.csv')
data = [pd.read_csv(f, low_memory=False) for f in files]

In [75]:
data = pd.concat(data, ignore_index=True)

In [76]:
data.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,...,ride_id,rideable_type,started_at,ended_at,start_lat,start_lng,end_lat,end_lng,member_casual,is_equity
0,83118.0,2020-01-31 15:23:47.7330,2020-02-01 14:29:06.2630,400.0,Buchanan St at North Point St,37.804272,-122.433537,400.0,Buchanan St at North Point St,37.804272,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,68239.0,2020-01-31 15:40:31.6160,2020-02-01 10:37:51.0000,99.0,Folsom St at 15th St,37.767037,-122.415443,99.0,Folsom St at 15th St,37.767037,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,55407.0,2020-01-31 17:48:16.6350,2020-02-01 09:11:44.3170,197.0,El Embarcadero at Grand Ave,37.808848,-122.249680,197.0,El Embarcadero at Grand Ave,37.808848,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,54929.0,2020-01-31 17:53:03.4130,2020-02-01 09:08:32.6340,197.0,El Embarcadero at Grand Ave,37.808848,-122.249680,197.0,El Embarcadero at Grand Ave,37.808848,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,55700.0,2020-01-31 17:12:33.4600,2020-02-01 08:40:53.6460,12.0,Pier 1/2 at The Embarcadero,37.796389,-122.394586,371.0,Lombard St at Columbus Ave,37.802746,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
data.shape

(1440652, 24)

In [78]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440652 entries, 0 to 1440651
Data columns (total 24 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   duration_sec             905007 non-null  float64
 1   start_time               905007 non-null  object
 2   end_time                 905007 non-null  object
 3   start_station_id         761263 non-null  float64
 4   start_station_name       762496 non-null  object
 5   start_station_latitude   905007 non-null  float64
 6   start_station_longitude  905007 non-null  float64
 7   end_station_id           753420 non-null  float64
 8   end_station_name         754694 non-null  object
 9   end_station_latitude     905007 non-null  float64
 10  end_station_longitude    905007 non-null  float64
 11  bike_id                  905007 non-null  float64
 12  user_type                905007 non-null  object
 13  rental_access_method     617858 non-null  object
 14  ride_id                  535645 non-null  object
 15  rideable_type            535645 non-null  object
 16  started_at               535645 non-null  object
 17  ended_at                 535645 non-null  object
 18  start_lat                535645 non-null  float64
 19  start_lng                535645 non-null  float64
 20  end_lat                  534807 non-null  float64
 21  end_lng                  534807 non-null  float64
 22  member_casual            535645 non-null  object
 23  is_equity                138251 non-null  object
dtypes: float64(12), object(12)
memory usage: 263.8+ MB

In [79]:
data.describe()

,duration_sec,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bike_id,start_lat,start_lng,end_lat,end_lng
count,905007.000000,761263.000000,905007.000000,905007.000000,753420.000000,905007.000000,905007.000000,905007.000000,535645.000000,535645.000000,534807.000000,534807.000000
mean,806.783430,197.760419,37.747956,-122.356863,192.369365,37.747504,-122.354743,345257.165427,37.725255,-122.346671,37.725249,-122.345629
std,1651.803494,159.500886,0.229245,0.646076,159.251561,0.270214,0.795225,305503.123238,0.147924,0.178430,0.147991,0.357225
min,60.000000,3.000000,0.000000,-122.514230,3.000000,0.000000,-122.575763,12.000000,37.239200,-122.514300,37.004600,-122.559000
25%,370.000000,61.000000,37.765281,-122.420664,58.000000,37.765464,-122.419957,12114.000000,37.760000,-122.432500,37.760000,-122.432100
50%,595.000000,134.000000,37.776972,-122.404635,129.000000,37.777062,-122.403681,326439.000000,37.773600,-122.411900,37.773532,-122.411900
75%,932.000000,350.000000,37.789914,-122.392741,343.000000,37.790229,-122.392741,557460.000000,37.787639,-122.390800,37.788100,-122.390800
max,811077.000000,534.000000,37.880222,0.000000,534.000000,37.995942,0.000000,999960.000000,37.880222,-121.770000,37.962100,-42.344893

In [80]:
data.isna().sum()

duration_sec                535645
start_time                  535645
end_time                    535645
start_station_id            679389
start_station_name          678156
start_station_latitude      535645
start_station_longitude     535645
end_station_id              687232
end_station_name            685958
end_station_latitude        535645
end_station_longitude       535645
bike_id                     535645
user_type                   535645
rental_access_method        822794
ride_id                     905007
rideable_type               905007
started_at                  905007
ended_at                    905007
start_lat                   905007
start_lng                   905007
end_lat                     905845
end_lng                     905845
member_casual               905007
is_equity                  1302401
dtype: int64

In [81]:
data.duplicated().sum()

7512

In [82]:
data.user_type.value_counts()

Subscriber    544696
Customer      360311
Name: user_type, dtype: int64

In [83]:
max(data.isna().sum())

1302401

# Clean Data

In [90]:
df = data.copy()

In [91]:
df.drop(columns=['start_station_latitude', 'start_station_longitude',
                 'end_station_latitude', 'end_station_longitude',
                 'start_station_name', 'end_station_name',
                 'start_lat', 'start_lng',
                 'end_lat', 'end_lng',
                 'is_equity'], inplace=True)

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440652 entries, 0 to 1440651
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   duration_sec          905007 non-null  float64
 1   start_time            905007 non-null  object
 2   end_time              905007 non-null  object
 3   start_station_id      761263 non-null  float64
 4   end_station_id        753420 non-null  float64
 5   bike_id               905007 non-null  float64
 6   user_type             905007 non-null  object
 7   rental_access_method  617858 non-null  object
 8   ride_id               535645 non-null  object
 9   rideable_type         535645 non-null  object
 10  started_at            535645 non-null  object
 11  ended_at              535645 non-null  object
 12  member_casual         535645 non-null  object
dtypes: float64(4), object(9)
memory usage: 142.9+ MB

In [93]:
df['start_time'] = pd.to_datetime(df['start_time'])
df['end_time']   = pd.to_datetime(df['end_time'])
df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at']   = pd.to_datetime(df['ended_at'])

In [96]:
df['month'] = df['start_time'].dt.strftime('%m')
df['day']   = df['start_time'].dt.strftime('%d')
df['hour']  = df['start_time'].dt.strftime('%H')
df['day_of_week'] = df['start_time'].dt.strftime('%a')

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440652 entries, 0 to 1440651
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   duration_sec          905007 non-null  float64
 1   start_time            905007 non-null  datetime64[ns]
 2   end_time              905007 non-null  datetime64[ns]
 3   start_station_id      761263 non-null  float64
 4   end_station_id        753420 non-null  float64
 5   bike_id               905007 non-null  float64
 6   user_type             905007 non-null  object
 7   rental_access_method  617858 non-null  object
 8   ride_id               535645 non-null  object
 9   rideable_type         535645 non-null  object
 10  started_at            535645 non-null  datetime64[ns]
 11  ended_at              535645 non-null  datetime64[ns]
 12  member_casual         535645 non-null  object
 13  month                 905007 non-null  object
 14  day                   905007 non-null  object
 15  hour                  905007 non-null  object
 16  day_of_week           905007 non-null  object
dtypes: datetime64[ns](4), float64(4), object(9)
memory usage: 186.9+ MB